<div><a routerLink="" class="back-arrow">&lt;==BACK==</a></div> 
<div class="container">
  <div class="row">
    <div class=" green-box">
      <b>{{countryName}}</b>
    </div>
  </div>
  <div class="row">
    <div class="container-stat">
      <div *ngFor="let item of (this.getStat$ | async); let i = index;">
        <div *ngIf="i==0" class="white-box">
          Numbers of entries <br> <b>{{item}}</b>
        </div>
        <div *ngIf="i==1" class="white-box">
          Total number of medals <br> <b>{{item}}</b>
        </div>
        <div *ngIf="i==2" class="white-box">
          Total number of athletes <br> <b>{{item}}</b>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="line-chart">
    <ngx-charts-line-chart class="my-chart"
      [results]="lineData"
      [xAxis]="true"
      [yAxis]="true"
      [tooltipDisabled]="false"
      [legend]="false"
      [autoScale]="true"
      [showXAxisLabel]="true"
      [showYAxisLabel]="true"
      [xAxisLabel]="'Dates'"
      [yAxisLabel]="'Number of medals'"
      [scheme]="colorScheme">
        <ng-template #tooltipTemplate let-model="model">
          <div class="my-tooltip">
            <strong>{{model.series}}</strong><br>{{ model.name }} {{ model.value }}
          </div>
        </ng-template>
        <ng-template #seriesTooltipTemplate let-model="model">
          <div class="my-tooltip">
            Country : <strong>{{countryName}}</strong><br>
            Year : {{model[0].name }}<br>
            Value : {{ model[0].value}}
          </div>
        </ng-template>
    </ngx-charts-line-chart>
    </div>
  </div>
</div>
