<h2>Olympic games app</h2>
<hr />
<p>{{ (olympics$ | async)?.length }} data loaded</p>
<hr />
 <div class="container">
  <div class="row">
    <div class="col-12  titre">
      <b>Medals per country</b>
    </div>
  </div>
  <div class="row">
    <div class="container-stat">
    <div *ngFor="let item of (this.getStat$ | async); let i = index;">
    <div *ngIf="i==0" class="boite-blanche">
      <b>Numbers of JOs</b> <br> {{item}}
    </div>
    <div *ngIf="i==1" class="boite-blanche">
      <b>Number of countries</b> <br> {{item}}
    </div>
    </div>
    </div>
  </div>
  <div class="row">
    <div class="col-12 graphique">
      
      <ngx-charts-pie-chart
        [results]="pieDataCalc"
        [view]="[400, 400]"
        [labels]="true"
        [ngClass]="tooltipTemplate"
        [labelFormatting]="labelFormatting"
        [doughnut]="false"
        [tooltipDisabled]="false"
        [legend]="false"
        [maxLabelLength]="200"
        [ariaChecked]="true">
         <ng-template #tooltipTemplate let-model="model">
            <div class="tooltip">
                {{model.name}}<br>
                🎖{{model.value}}
            </div>
        </ng-template>   <!-- [routerLink]="alerter('{{name}}')"--> 
      </ngx-charts-pie-chart>

    </div>
  </div>
</div> 