
 <div class="container">
  <div class="row">
    <div class="green-box">
      <b>Medals per country</b>
    </div>
  </div>
  <div class="row">
    <div class="container-stat">
      <div *ngFor="let item of (this.getTopStat$ | async); let i = index;">
        <div *ngIf="i==0" class="white-box">
          <b>Numbers of JOs</b> <br> {{item}}
        </div>
        <div *ngIf="i==1" class="white-box">
          <b>Number of countries</b> <br> {{item}}
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div>
      <!--dont set [view] to be responsive....-->
      <ngx-charts-pie-chart 
        [results]="pieData"
        [labels]="true"
        [labelFormatting]="labelFormatting"
        [doughnut]="false"
        [tooltipDisabled]="false"
        [legend]="false"
        [maxLabelLength]="200"
        (select)="goDetail($event);" >
        <ng-template #tooltipTemplate let-model="model" >
            <div class="my-tooltip">  
                {{model.name.split('.')[1]}}<br>
                🎖{{model.value}}
            </div>
        </ng-template> 
      </ngx-charts-pie-chart>
    </div>
  </div>
</div>