



.container{
  display: table;
  width: 100%;
  padding: 2px;
  margin: 2px;
}

.container-stat{
  display: flex;
  flex-direction: row; //horizontal by default
  border: 1px solid rgb(0,0,0);
  justify-content: center;

  width: 100%;
  padding: 10px;
  margin: 2px;

  //media query for small screen
  @media (max-width: 300px) {
    flex-direction: column;
    align-items: center;
  }
}

.boite-blanche{
  flex-flow: row;
  max-width: fit-content;
  background-color: white;
  border: 3px solid rgb(11, 160, 11);
  color: black;
  border-radius: 10px;
  max-width: fit-content;
  max-height: fit-content;
  text-align: center;
  padding: 5px;
  margin: 5px;
}

.row{
    width: 90%;
    margin: 2px;
    padding: 2px;
}

.titre{
    background-color: green;
    color: white;
    border-radius: 10px;
    max-width: fit-content;
    text-align: center;
    margin-left: auto;  //centrer
    margin-right: auto; //centrer
    padding: 10px;
}
.graphique{
    text-align: center; 
}

.tooltip{
  background-color: green !important;
  color: white;
}
.pie-label-line{
  line-height-step: 0;
  line-clamp: 0;
  max-lines: 0;
  line-height: 0px;
  line-break: 0;
  -ms-flex-line-pack: justify;

}
.line{
  line-height-step: 0;
  line-clamp: 0;
  max-lines: 0;
  line-height: 0px;
  line-break: 0;
 
}
